.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.noto-serif-head {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* main style */
.plant-card-container{
  width: 270px;
  height: 485px;
}
.btn-cart{
  height: 50px;
  width: 270px;
  color: white;
}

/* flower & plants lover */
.flower-conatiner{
  height: 597px;
}

/* flower img style */
.bloom-img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)),url('../img/deal-bloom.png') ;
  margin-bottom: 20px;
  
}
.ana-img{
  background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url('../img/deal-ana.png');
}
.zabo-img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url('../img/deal-zabo.png');
  
}
/* news-letter-container */
.news-letter-container{
  background-image: url('../img/news-letter-bg.png');
}