
*{
    font-family: 'Poppins', sans-serif;
}


/* header section */
/* navbar style */

.navbar-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
}
.navbar-content{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-content img{
    height: 40px;
    width: 40px;
}
.navbar-list{
    align-content: center;
}
.navbar-list ul{
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
}
.navbar-list li > a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.navbar-list li> a:hover{
    color: red;
}

/* banner section */
.banner-container{
    background-image: url('../image/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 1200px;
    background-position: center;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.banner-head{
    font-size: 4rem;
    color: white;
    margin-bottom: 20px;
}
.banner-description{
    color: rgb(147, 26, 26);
    width: 700px;
    margin-left: 250px;
    font-weight: 900;
    border: none;
}
.banner-search-filed{
    display: flex;
    margin-left: 250px;
    gap: 20px;
    height: 70px;
    width: 700px;
    padding-top: 30px;
    padding-left: 20px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 8px 30px rgba(0, 0, 0, 0.1);
}
.search-input{
    height: 40px;
    width: 150px;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
}
.banner-select-option{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px ;

}
.find-btn{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
}
.search-img{
    height: 10px;
    width: 10px;
}
.find-btn:hover{
    background-color: white;
}

/* popular tour section */
.popular-tour-container{
    display: flex;
    width: 1200px;
    margin-left: 200px;
    margin-bottom: 100px;
}
.popular-tour-content h2{
    font-size: 2.5rem;
}
.popular-tour-content p{
    color: #131318;
    line-height: 25px;
}
.popular-tour-content ul{
    line-height: 30px;
}
.read-more-btn{
    background-color: red;
    color: white;
    height: 40px;
    width: 120px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
.read-more-btn:hover{
    opacity: 0.5;
}

/* main section */
/* choose destination section */
.destination-section{
    width: 1200px;
    margin-left: 200px;
    margin-bottom: 100px;
    text-align: center;
}
.destination-img-container img{
    margin: 5px;
}
.dhaka-bandorbon{
    display: flex;
    gap: 10px;
}
.dhaka-bandorbon img{
    width: 610px;
    height: 300px;
    border-radius: 15px;
}
.img-text-dhaka{
    position: absolute;
    margin-top: -200px;
    margin-left: 250px;
    color: rgb(249, 249, 249);
    font-weight: 900;
    font-size: 30px;
}
.img-text-bandarban{
    position: absolute;
    margin-top: -200px;
    margin-left: 250px;
    color: rgb(249, 249, 249);
    font-weight: 900;
    font-size: 30px;
}
.cox-saint-sajek{
    display: flex;
    gap: 10px;
}
.cox-img{
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.img-text-cox{
    position: absolute;
    margin-top: -200px;
    margin-left: 120px;
    color: rgb(249, 249, 249);
    font-weight: 900;
    font-size: 30px;
}
.sajek-img{
    height: 300px;
    width: 550px;
    border-radius: 15px;
}
.img-text-sajek{
    position: absolute;
    margin-top: -200px;
    margin-left: 200px;
    color: rgb(249, 249, 249);
    font-weight: 900;
    font-size: 30px;
}
.saint-img{
    height: 300px;
    width: 250px;
    border-radius: 15px;
}
.img-text-saint{
    position: absolute;
    margin-top: -200px;
    margin-left: 30px;
    color: rgb(249, 249, 249);
    font-weight: 900;
    font-size: 30px;
}
.rangamati-syhlet{
    display: flex;
    gap: 10px;
}
.rangamati-img{
    height: 300px;
    width: 500px;
    border-radius: 15px;
}
.img-text-rangamati{
    position: absolute;
    margin-top: -200px;
    margin-left: 180px;
    color: rgb(249, 249, 249);
    font-weight: 900;
    font-size: 30px;
}
.syhlet-img{
    height: 300px;
    width: 720px;
    border-radius: 15px;
}
.img-text-syhlet{
    position: absolute;
    margin-top: -200px;
    margin-left: 350px;
    color: rgb(249, 249, 249);
    font-weight: 900;
    font-size: 30px;
}

.destination-section img:hover{
    opacity: 0.8;
    cursor: pointer;
}

/* hotel& resort */
.hotel-section{
    width: 1200px;
    margin-left: 170px;
    margin-bottom: 100px;
}
.hotel-section-head h1{
    text-align: center;
    font-size: 45px;
    margin-bottom: 5px;
}
.hotel-section-head p{
    text-align: center;
    font-weight: 600;
}
.hotel-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 15px;
    margin-top: 20px;
}
.card{
    margin-bottom: 15px;
    box-shadow: 0 3px 8px 5px rgb(0, 0 , 0 , 0.2);
    padding: 10px;
    border-radius: 5px;
}
.card img{
    width: 400px;
    height: 300px;
}
.card p{
    margin-bottom: 10px;
}
.btn{
    background-color: tomato;
    height: 40px;
    width: 100px;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* choose container */
.choose-container{
    width: 1200px;
    margin-left: 200px;
    margin-bottom: 100px;
}
.choose-content > h2{
    text-align: center;
}
.choose-content > p{
    text-align: center;
    color: #131318;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 40px;
    margin: 20px;
    /* text-align: center; */
}
.card-1{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 4px 4px 4px rgb(0, 0 , 0 , 0.2);
}
.card-2{
    padding: 20px;
    background-color: rgb(242, 239, 236);
    border-radius: 10px;
    box-shadow: 3px 4px 4px 4px rgb(0, 0 , 0 , 0.2);

}
.card-3{
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    margin-left: 300px;
    box-shadow: 3px 4px 4px 4px rgb(0, 0 , 0 , 0.2);
}

/* dea' & discount section */
.discount-section{
    width: 1200px;
    margin-left: 200px;
    margin-bottom: 1700px;
}
.deal-head{
    text-align: center;
    font-size: 40px;
}
.cox-container{
    background-image: url('../deal&discount-img/Group\ 39.png');
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin-bottom: 200px;
    border-radius: 20px;
}
.cox-pacakage{
    width: 30%;
    height: 30%;
    padding: 20px;
    margin-top: 120px;
    margin-left: 450px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 8px 30px rgba(0, 0, 0, 0.1);
}
.cox-pacakage h1{
    font-size: 35px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cox-pacakage p{
    font-weight: 600;
    margin-bottom: 10px;
}
.sajek-container{
    background-image:url('../deal&discount-img/Group\ 40.png');
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    width: 150%;
    margin-top: 550px;
}
.sajek-pacakage{
    width: 20%;
    height: 30%;
    padding: 20px;
    margin-top: 120px;
    margin-left: 150px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 8px 30px rgba(0, 0, 0, 0.1);
}
.sajek-pacakage h1{
    font-size: 35px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sajek-pacakage p{
    font-weight: 600;
    margin-bottom: 10px;
}
.bardarban-container{
    background-image: url('../deal&discount-img/Group\ 39.png');
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin-bottom: 200px;
    margin-top: 1100px;
}
.bardarban-pacakage{
    width: 30%;
    height: 30%;
    padding: 20px;
    margin-top: 120px;
    margin-left: 450px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 8px 30px rgba(0, 0, 0, 0.1);
}
.bardarban-pacakage h1{
    font-size: 35px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bardarban-pacakage p{
    font-weight: 600;
    margin-bottom: 10px;
}
.book-btn{
    background-color: tomato;
    color: white;
    font-weight: 600;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.book-btn:hover{
    opacity: 0.8;
}
.see-btn{
    background-color: tomato;
    color: white;
    font-weight: 700;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-left: 650px;
    margin-bottom: 100px;
}
.see-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

/* subscribe section */
.subscribe-section{
    width: 1200px;
    margin-left: 200px;
    margin-bottom: 100px;
    display: flex;
    gap: 50px;
}
.subscribe-content{
    border: 1px solid rgb(253, 55, 55);
    height: 380px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}
.subscribe-content p{
    color: #131318;
    width: 300px;
}
.subscribe-content input{
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    background-color: rgb(220, 235, 230);
    margin-bottom: 30px;
}
.subcribe-btn{
    width: 370px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: tomato;
    color: white;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.subcribe-btn:hover{
    opacity: 0.8;
}
.rectangle-img8{
    position: relative;
}
.travle-com{
    height: 60px;
    width: 220px;
    margin-top: -130px;
    margin-left: 440px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    text-align: center;
    background-color: tomato;
    transform: rotate(-30deg);
}
.travle-com p{
    margin-bottom: 0px;
}
.travle-com h2{
    margin-top: 0px;
}


/* footer section */
.footer-container{
    background-color: antiquewhite;
    height: 400px;
    padding-top: 80px;
}
.footer-container , .navbar-content{
    text-align: center;
    justify-content: center;
}
.footer-container p{
    line-height: 25px;
}
.footer-icon img{
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-bottom: 50px;
}
.hr{
    width: 1000px; 
    margin-bottom: 50px;
}





/* responsive media query */
/* for phone */
@media screen and (max-width:600px) {
    .navbar-container{
        flex-direction: column;
    }
    .navbar-content{
        justify-content: center;
    }

    /* banner responce */
    .banner-container{
        height: 100%;
        width: 100%;
        margin: 5px;
    }
    .banner-head{
        width: 100%;
    }
    .banner-description{
        width: 100%;
        margin-left: 0px;
    }
    .banner-search-filed{
        height: 100%;
        width: 40%;
        align-items: center;
        margin-left: 150px;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .find-btn{
        margin-bottom: 20px;
    }

    /* popular tour */
    .popular-tour-container{
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-left: 5px;
    }

    /* main section */
    /* choose destination */
    .destination-section{
        width: 100%;
        margin-left: 0px;
    }
    .dhaka-bandorbon ,
    .cox-saint-sajek ,
    .rangamati-syhlet 
    {
        flex-direction: column;
    }
    .dhaka-bandorbon img ,
    .cox-saint-sajek img ,
    .rangamati-syhlet img
    {
        width: 100%;
        height: 100%;
    }
    .img-text-bandarban ,
    .img-text-sajek,
    .img-text-saint
    {
        margin-top: -240px;
    }
    
    .img-text-dhaka,
    .img-text-bandarban,
    .img-text-cox,
    .img-text-saint,
    .img-text-sajek,
    .img-text-rangamati,
    .img-text-syhlet
    {
        margin-left: 35%;
    }
    
    /* hotel section */
    .hotel-section{
        width: 100%;
        margin-left: 5px;
    }
    .hotel-container{
        grid-template-columns: 1fr;
    }
    .card img{
        width: 100%;
        height: 70%;
    }

    /* choose section */
    .choose-container{
        width: 100%;
        margin-left: 5px;
    }
    .card-container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .card-3{
        width: 85%;
        margin-left: 19px;
    }

    /* offer section */
    .discount-section{
        width: 50%;
        margin-left: 5px;
    }
    .cox-container{
        width: 95%;
    }
    .cox-pacakage{
        width: 50%;
        height: 40%;
        margin-left: 100px;
    }
    .sajek-container{
        width: 95%;
        border-radius: 15px;
    }
    .sajek-pacakage{
        width: 50%;
        height: 45%;
        margin-left: 100px;
    }
    .bardarban-container{
        width: 95%;
        border-radius: 15px;
    }
    .bardarban-pacakage{
        width: 50%;
        height: 40%;
        margin-left: 100px;
    }
    .see-btn{
        margin-left: 150px;
    }

    /* subcribe section */
    .subscribe-section{
        width: 100%;
        flex-direction: column;
        margin-left: 5px;
    }
    .subscribe-content input{
        width: 100%;
    }
    .subcribe-btn{
        padding: 5px;
        width: 100%;
    }
    .rectangle-img8{
        width: 100%;
    }
    .travle-com{
        margin-left: 290px;
    }

    /* footer section */
    .hr{
        width: 90%;
    }
}